# 5. Data Manipulation III - Grouping and Aggregation

The goal of this module is to become familiar with grouping and aggregation. The two main topics we'll cover are:
1. `pl.DataFrame.group_by`, the main entrypoint to group operations, along with `.agg`, the way to compute aggregations within groups.
2. Using `polars`'s implementation of window functions, `pl.Expr.over()`.
3. Two way group-by's: pivot tables.

But first we import `polars`...

In [1]:
import polars as pl

... and load the data, this time using the name mapping from the last module.

In [11]:
column_rename_mapping = {
    "VendorID": "vendor_id",
    "RatecodeID": "ratecode_id",
    "PULocationID": "pu_location_id",
    "DOLocationID": "do_location_id",
    "Airport_fee": "airport_fee",
}
(
    pl.read_parquet("../data/yellow_tripdata_2024-03.parquet")
    .rename(column_rename_mapping)
    .head()
)

shape: (5, 19)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ vendor_id ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ improveme ┆ total_amo ┆ congestio ┆ airport_ │
│ ---       ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ nt_surcha ┆ unt       ┆ n_surchar ┆ fee      │
│ i32       ┆ me        ┆ ime       ┆ ---       ┆   ┆ rge       ┆ ---       ┆ ge        ┆ ---      │
│           ┆ ---       ┆ ---       ┆ i64       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ f64      │
│           ┆ datetime[ ┆ datetime[ ┆           ┆   ┆ f64       ┆           ┆ f64       ┆          │
│           ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 16.3      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:18:51  ┆ 00:23:45  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 15.2      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:26:00  ┆ 00:29:06  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ 1.0       ┆ 10.4      ┆ 0.0       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:09:22  ┆ 00:15:24  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ 1.0       ┆ 14.19     ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:33:45  ┆ 00:39:34  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ 1.0       ┆ 30.4      ┆ 2.5       ┆ 0.0      │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ 00:05:43  ┆ 00:26:22  ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

## 5.1. Grouping Dataframes

As we've progressed through previous modules, we've seen how to do some basic aggregations on an entire dataframe, with functions such as `.sum()`, `.min()`, `.max()`, `.count()`, and `.mean()`. Collecting some of the examples from previous modules, we can begin to see a short summary about our dataset:

In [12]:
(
    df
    .select(
        (
            pl.col("passenger_count").eq(0).sum() / pl.col("passenger_count").count()
        ).alias("fraction_rides_zero_passengers"),
        pl.col("passenger_count").max().name.suffix("_max"),
        pl.col("trip_distance").min().name.suffix("_min"),
        pl.col("trip_distance").max().name.suffix("_max"),
    )
)

shape: (1, 4)
┌────────────────────────────────┬─────────────────────┬───────────────────┬───────────────────┐
│ fraction_rides_zero_passengers ┆ passenger_count_max ┆ trip_distance_min ┆ trip_distance_max │
│ ---                            ┆ ---                 ┆ ---               ┆ ---               │
│ f64                            ┆ i64                 ┆ f64               ┆ f64               │
╞════════════════════════════════╪═════════════════════╪═══════════════════╪═══════════════════╡
│ 0.01279                        ┆ 9                   ┆ 0.0               ┆ 176836.3          │
└────────────────────────────────┴─────────────────────┴───────────────────┴───────────────────┘

One taxi ride had 9 passengers? That's something we haven't seen yet, that's a lot of passengers!

But what if we wanted to know these statistics for the different pickup zones? To do that, we need to crack open the `group_by` functionality.