# 7. Data Manipulation IV - Working With Datatypes

The goal of this module is to understand all the different datatypes in `polars`, and learn to construct datatype-specific column expressions that leverage those different datatypes.

But first we import `polars`...

In [1]:
import polars as pl

... and load the rides data, already joining with the `zones_df` dataframe as in the previous module.

In [3]:
zone_column_rename_mapping = {
    "LocationID": "location_id",
    "Borough": "borough",
    "Zone": "zone",
}
zones_df = (
    pl.read_parquet("../data/taxi_zone_lookup.parquet")
    .rename(zone_column_rename_mapping)
)

This time, we'll join `zones_df` into the rides dataframe twice--once for `pu_location_id`, and once for `do_location_id`.

In [5]:
yellow_rides_column_rename_mapping = {
    "VendorID": "vendor_id",
    "RatecodeID": "ratecode_id",
    "PULocationID": "pu_location_id",
    "DOLocationID": "do_location_id",
    "Airport_fee": "airport_fee",
}

zone_df_columns = ["borough", "zone", "service_zone",]

rides_df = (
    pl.read_parquet("../data/yellow_tripdata_2024-03.parquet")
    .rename(yellow_rides_column_rename_mapping)
    .join(zones_df, left_on="pu_location_id", right_on="location_id")
    .rename({zone_df_column: f"pu_{zone_df_column}" for zone_df_column in zone_df_columns})
    .join(zones_df, left_on="do_location_id", right_on="location_id")
    .rename({zone_df_column: f"do_{zone_df_column}" for zone_df_column in zone_df_columns})
)

rides_df.head()

shape: (5, 25)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ vendor_id ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ pu_servic ┆ do_boroug ┆ do_zone   ┆ do_servi │
│ ---       ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ e_zone    ┆ h         ┆ ---       ┆ ce_zone  │
│ i32       ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str       ┆ ---      │
│           ┆ ---       ┆ ---       ┆ i64       ┆   ┆ str       ┆ str       ┆           ┆ str      │
│           ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆           ┆           ┆          │
│           ┆ ns]       ┆ ns]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ Yellow    ┆ Manhattan ┆ Upper     ┆ Yellow   │
│           ┆ 1         ┆ 1         ┆           ┆   ┆ Zone      ┆           ┆ West Side ┆ Zone     │
│           ┆ 00:18:51  ┆ 00:23:45  ┆           ┆   ┆           ┆           ┆ South     ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ Yellow    ┆ Manhattan ┆ Bloomingd ┆ Yellow   │
│           ┆ 1         ┆ 1         ┆           ┆   ┆ Zone      ┆           ┆ ale       ┆ Zone     │
│           ┆ 00:26:00  ┆ 00:29:06  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ Yellow    ┆ Manhattan ┆ East      ┆ Boro     │
│           ┆ 1         ┆ 1         ┆           ┆   ┆ Zone      ┆           ┆ Harlem    ┆ Zone     │
│           ┆ 00:09:22  ┆ 00:15:24  ┆           ┆   ┆           ┆           ┆ South     ┆          │
│ 2         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 1         ┆ … ┆ Yellow    ┆ Manhattan ┆ Midtown   ┆ Yellow   │
│           ┆ 1         ┆ 1         ┆           ┆   ┆ Zone      ┆           ┆ East      ┆ Zone     │
│           ┆ 00:33:45  ┆ 00:39:34  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1         ┆ 2024-03-0 ┆ 2024-03-0 ┆ 0         ┆ … ┆ Yellow    ┆ Queens    ┆ Astoria   ┆ Boro     │
│           ┆ 1         ┆ 1         ┆           ┆   ┆ Zone      ┆           ┆           ┆ Zone     │
│           ┆ 00:05:43  ┆ 00:26:22  ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Let's go!

## 5.1. Datatypes - an Overview

In the previous modules, we've seen how `polars` prioritizes clarity and organization of datatypes, even displaying data types alongside each column name when displaying a dataframe:

In [7]:
rides_df.head(0)

shape: (0, 25)
┌───────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ vendor_id ┆ tpep_picku ┆ tpep_drop ┆ passenger ┆ … ┆ pu_servic ┆ do_boroug ┆ do_zone ┆ do_servic │
│ ---       ┆ p_datetime ┆ off_datet ┆ _count    ┆   ┆ e_zone    ┆ h         ┆ ---     ┆ e_zone    │
│ i32       ┆ ---        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ str     ┆ ---       │
│           ┆ datetime[n ┆ ---       ┆ i64       ┆   ┆ str       ┆ str       ┆         ┆ str       │
│           ┆ s]         ┆ datetime[ ┆           ┆   ┆           ┆           ┆         ┆           │
│           ┆            ┆ ns]       ┆           ┆   ┆           ┆           ┆         ┆           │
╞═══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
└───────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

We also saw in an earlier module that we can see a dataframe's datatypes by checking its schema:

In [8]:
rides_df.schema

OrderedDict([('vendor_id', Int32),
             ('tpep_pickup_datetime',
              Datetime(time_unit='ns', time_zone=None)),
             ('tpep_dropoff_datetime',
              Datetime(time_unit='ns', time_zone=None)),
             ('passenger_count', Int64),
             ('trip_distance', Float64),
             ('ratecode_id', Int64),
             ('store_and_fwd_flag', String),
             ('pu_location_id', Int32),
             ('do_location_id', Int32),
             ('payment_type', Int64),
             ('fare_amount', Float64),
             ('extra', Float64),
             ('mta_tax', Float64),
             ('tip_amount', Float64),
             ('tolls_amount', Float64),
             ('improvement_surcharge', Float64),
             ('total_amount', Float64),
             ('congestion_surcharge', Float64),
             ('airport_fee', Float64),
             ('pu_borough', String),
             ('pu_zone', String),
             ('pu_service_zone', String),
             ('do_borough', String),
             ('do_zone', String),
             ('do_service_zone', String)])

In our dataframe alone, we have a few different datatypes:
- `pl.Int32`, `pl.Int64`
- `pl.Datetime`
- `pl.String`

But `polars` has so much more than this. Taking from [the docs](https://docs.pola.rs/py-polars/html/reference/datatypes.html), `polars` has numeric, temporal, nested, string, and other datatypes:

**Numeric**
- `pl.Decimal`: Decimal 128-bit type with an optional precision and non-negative scale.
- `pl.Float32`: 32-bit floating point type.
- `pl.Float64`: 64-bit floating point type.
- `pl.Int8`: 8-bit signed integer type.
- `pl.Int16`: 16-bit signed integer type.
- `pl.Int32`: 32-bit signed integer type.
- `pl.Int64`: 64-bit signed integer type.
- `pl.UInt8`: 8-bit unsigned integer type.
- `pl.UInt16`: 16-bit unsigned integer type.
- `pl.UInt32`: 32-bit unsigned integer type.
- `pl.UInt64`: 64-bit unsigned integer type.

**Temporal**
- `pl.Date`: Data type representing a calendar date.
- `pl.Datetime`: Data type representing a calendar date and time of day.
- `pl.Duration`: Data type representing a time duration.
- `pl.Time`: Data type representing the time of day.

**Nested**
- `pl.Array(inner[, shape, width])`: Fixed length list type.
- `pl.List(inner)`: Variable length list type.
- `pl.Struct(fields)`: Struct composite type.

**String**
- `pl.String`: UTF-8 encoded string type.
- `pl.Categorical`: A categorical encoding of a set of strings.
- `pl.Enum`: A fixed set categorical encoding of a set of strings.
- `pl.Utf8`: Alias of String.

**Other**
- `pl.Binary`: Binary type.
- `pl.Boolean`: Boolean type.
- `pl.Null`: Data type representing null values.
- `pl.Object`: Data type for wrapping arbitrary Python objects.
- `pl.Unknown`: Type representing DataType values that could not be determined statically.

But what does this really all mean for us, as the end users?

## 5.2 Working with `pl.String`

Up until now, we've covered mostly basic operations on columns, such as `eq()`, `count()`, `max()` etc, which work across all datatypes. However, there are many datatype-specific operations that can be done as well. To access those datatype-specific operations, we do so through that datatype's **namespace**.

For example, let's say that, as part of our data cleaning process, we want to confirm that all rides that had an `airport fee` actually involved either a pickup or dropoff at the airport; for that, we need a special `pl.String` operation, `.contains()`:

#### Example 1: substring containment check.

In [23]:
(
    rides_df
    .select(["tpep_pickup_datetime", "total_amount", "airport_fee", "pu_zone"])
    .with_columns(pl.col("pu_zone").str.contains("Airport").alias("is_airport_pickup"))
    .filter("is_airport_pickup")
    .head()
)

shape: (5, 5)
┌──────────────────────┬──────────────┬─────────────┬─────────────┬───────────────────┐
│ tpep_pickup_datetime ┆ total_amount ┆ airport_fee ┆ pu_zone     ┆ is_airport_pickup │
│ ---                  ┆ ---          ┆ ---         ┆ ---         ┆ ---               │
│ datetime[ns]         ┆ f64          ┆ f64         ┆ str         ┆ bool              │
╞══════════════════════╪══════════════╪═════════════╪═════════════╪═══════════════════╡
│ 2024-03-01 00:02:47  ┆ 34.74        ┆ 1.75        ┆ JFK Airport ┆ true              │
│ 2024-03-01 00:33:43  ┆ 91.0         ┆ 1.75        ┆ JFK Airport ┆ true              │
│ 2024-03-01 00:24:10  ┆ 95.85        ┆ 1.75        ┆ JFK Airport ┆ true              │
│ 2024-03-01 00:06:35  ┆ 80.19        ┆ 1.75        ┆ JFK Airport ┆ true              │
│ 2024-03-01 00:06:56  ┆ 41.55        ┆ 1.75        ┆ JFK Airport ┆ true              │
└──────────────────────┴──────────────┴─────────────┴─────────────┴───────────────────┘

Nice! To access the string dataypes special operations, we just prefix the operation with the namespace keyword `str`, like `pl.Expr.str.contains()`.

Let's see what else can be done with `pl.String`s in `polars`:

#### Example 2: Splitting strings.

We can split strings with `pl.Expr.str.split()`:

In [30]:
(
    rides_df
    .select([
        "tpep_pickup_datetime",
        "pu_service_zone",
        pl.col("pu_service_zone").str.split(by=" ").name.suffix("_splitted"),
    ])
    .head()
)

shape: (5, 3)
┌──────────────────────┬─────────────────┬──────────────────────────┐
│ tpep_pickup_datetime ┆ pu_service_zone ┆ pu_service_zone_splitted │
│ ---                  ┆ ---             ┆ ---                      │
│ datetime[ns]         ┆ str             ┆ list[str]                │
╞══════════════════════╪═════════════════╪══════════════════════════╡
│ 2024-03-01 00:18:51  ┆ Yellow Zone     ┆ ["Yellow", "Zone"]       │
│ 2024-03-01 00:26:00  ┆ Yellow Zone     ┆ ["Yellow", "Zone"]       │
│ 2024-03-01 00:09:22  ┆ Yellow Zone     ┆ ["Yellow", "Zone"]       │
│ 2024-03-01 00:33:45  ┆ Yellow Zone     ┆ ["Yellow", "Zone"]       │
│ 2024-03-01 00:05:43  ┆ Yellow Zone     ┆ ["Yellow", "Zone"]       │
└──────────────────────┴─────────────────┴──────────────────────────┘

The result is a `pl.List` datatype! We'll get more into that in a moment ;)

#### Example 3: Measuring string lengths.

In [31]:
(
    rides_df
    .select([
        "tpep_pickup_datetime",
        "pu_service_zone",
        pl.col("pu_service_zone").str.len_chars().name.suffix("_str_length"),
    ])
    .head()
)

shape: (5, 3)
┌──────────────────────┬─────────────────┬────────────────────────────┐
│ tpep_pickup_datetime ┆ pu_service_zone ┆ pu_service_zone_str_length │
│ ---                  ┆ ---             ┆ ---                        │
│ datetime[ns]         ┆ str             ┆ u32                        │
╞══════════════════════╪═════════════════╪════════════════════════════╡
│ 2024-03-01 00:18:51  ┆ Yellow Zone     ┆ 11                         │
│ 2024-03-01 00:26:00  ┆ Yellow Zone     ┆ 11                         │
│ 2024-03-01 00:09:22  ┆ Yellow Zone     ┆ 11                         │
│ 2024-03-01 00:33:45  ┆ Yellow Zone     ┆ 11                         │
│ 2024-03-01 00:05:43  ┆ Yellow Zone     ┆ 11                         │
└──────────────────────┴─────────────────┴────────────────────────────┘

Notice that the resultant column `pu_service_zone_str_length` takes on the datatype `pl.UInt32`. It's an unsigned int because length can never be negative!